@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    background: #F4F5F7;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    gap: 24px;
    max-width: 100%;
}
.icon{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 212px;
    top: 7px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}
.one{
    right: 0;
    top: 0;
    
}
.two{
    position: absolute;
    right: -10px;
    top: 0;
    opacity: 0;
    transition: 1s all;
    cursor: pointer;
    background: none;
}
.two:hover{
    opacity: 1;
}
.mobile{
    display: none;
}
.icon__1{
    background-color: #ffffff;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    position: relative;
}
.profile_id{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile_hover{
    position: absolute;
    left: 532px;
    top: 0;
    margin: auto;
    opacity: 0;
    cursor: pointer;
}
.profile_hover:hover{
    opacity: 1;
}
.profile{
    position: relative;
}
.profile_id:hover{
    transition: 1s all;
}
.slack{
    display: none;
    width: 1152px;
    height: 30px;
    margin: auto;
    font-family: 'Inter',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    text-align: center;
    color: #101828;
}
.twitter{
    width: 1152px;
    height: 30px;
    margin: auto;
    font-family: 'Inter',cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    padding-top: 20px;
}

.button{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px 32px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    transition: 0.6s all;
}
.button:hover{
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
}

.a-button{
    margin: 24px;
}

 .a-button a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    text-decoration: none;

}
.social-icons{
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 64px 112px;
}
.social-icons img{
    height: 30px;
    width: 30px;
    padding: 6px;
}
.main_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 64px;
    width: 100%;
    height: 100%;
}
.sub_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 2%;
    width: 100%;
    height: 100%;
    gap: 70px;
}
.text{
    width: 650px;
    text-align: center;
    padding: 10px;
    font-family: 'Inter';
    color: #667085;
}

span{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #667085;
}
 @media(max-width: 1000px){
    body{
        width: 50%;
        height: 100%;
        margin: auto;
        padding: 0;
        overflow-x: hidden;

    }
    .mobile{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        right: 200px;
        top: -20px;
    }
    .main{
        max-width: 100%;
    }
    span{
        width: 50%;
        margin-bottom: 40px;
    }
    body{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .button{
        height: 68px;
        flex: 0 0 100%;
        width: 90%;
    }
     .a-button a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        background-color: #EAECF0;
    }
    .main_footer{
        padding: 13px 0;
        gap: 0;
        width: 100%;
    }
    .sub_footer{
        gap: 20px;
        width: 60%;
        height: 60%;
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-direction: column;
    }
    .internship{
        margin-right: 190px;
    }
    .text{
        margin-right: 140px;
    }
    .I4G{
        margin-right: 250px;
    }
 }
 